/*Cascating Stylesheet - folha em cascata, funciona sempre o que estiver por último
*{ é um seletor universal que vai aplicar as caracteristicas descritas para todo página*/
* {
  margin: 0;
}
html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  display: grid;
  place-items: center;
}
main {
  background: url(./images/background.svg);
  width: 375px;
  height: 812px;
  color: var(--gray);
}
.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0; /* img definida pela margin na seguinte ordem top, left-right e botton*/
  position: relative; /*deixar a imagem ser do span ser ajustada conforme a imagem do avatar, e não da pg inteira*/
}

.avatar span {
  position: absolute; /* para deixar a imagem por cima*/
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%,
    0 25%
  ); /*ferramenta para ajustar formas https://bennettfeely.com/clippy/*/
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}
/*perguntar Jess o que é esse a é o seletor de tag?*/
a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;

  display: flex; /*deixa uma caixa ao lado da outra ao inves de itens na vertical */
  gap: 0.5rem; /*espaço entre os icones*/

  justify-content: center;
}
